<!--<%- include("plantilla/cabecera")%>

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
 Bootstrap CSS 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<div class="container mt-3">
    <div class="card card2">
        <div class="modal fade" id="mimodal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-body">
                    <div class="card-header" style="background-color: #6B757D; color: #fff;">
                        <h5>Registrar Producto</h5>
                    </div>
                    <div class="card-body">
                        <form action="addproducto" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="tipoL">Código</p>
                                    <input type="number" class="form-control" name="cod" tabindex="1" readonly>
                                </div>
                                <div class="col-md-6">
                                    <p class="tipoL">Producto</p>
                                    <input type="text" class="form-control" name="nom" tabindex="2"><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="tipoL">Precio</p>
                                    <input type="number" class="form-control" name="pre" tabindex="3">
                                </div>
                                <div class="col-md-6">
                                    <p class="tipoL">Stock</p>
                                    <input type="number" class="form-control" name="stock" tabindex="4"><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <a href="/productos" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</a>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" tabindex="6">Guardar Producto</button>
                                </div>
                            </div><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("plantilla/footer")%> -->